*,li,ul{margin:0;padding:0;}
.clr,.hr{overflow:hidden;height:1px;}
.footer .copyright,.normalTitle,.normalTitle2{text-shadow:0 1px 1px #fff;}
.clr,.hr,.innerPanel .operator,.section{overflow:hidden;}
*{border:none;}
body,button,input,select,textarea{font:12px/1.5 Microsoft YaHei,Helvitica,Verdana,Arial,san-serif;}
.container,.content button,.content dd,.content dl,.content dt,.content input,.content li,.content ol,.content p,.content select,.content table,.content td,.content textarea,.content th,.content tr,.content ul{line-height:1.5;}
a{color:#636b89;text-decoration:none;text-indent:80px;font-size:18px;line-height:100px;blr:expression(this.onFocus=this.blur())}
a:active,a:hover{text-decoration:none;color:#090}
li,ul{list-style-type:none}
.container{font-size:14px;width:960px;margin:0 auto}
.clr{display:block;clear:both}
.hr{border-bottom:1px solid #eee}
h3{color:#AAA;font-size:24px;font-weight:400}
input,textarea{background:#fff}
textarea{resize:vertical;height:130px}
.header{height:80px}
.header .logo{font-size:20px;float:left;margin:10px 0 0}
.header .logo img{width:300px;height:60px}
.header .navigator{float:right;margin:10px 20px 0}
.header .navigator li{float:left;list-style-type:none}
.header .navigator a{color:#ccc;text-decoration:none;display:block;border-bottom:none;height:60px;line-height:60px;font-size:17px;text-align:center;padding:0 15px}
.contentmanage,.qtcontent{margin:0 auto;text-align:left}
.header .navigator a.current{color:#fff;font-size:18px}
.qtcontent{width:980px}
.contentmanage{width:1210px}
.article,.developer,.document,.download,.intro{margin:40px 0;border:1px solid #BBC2CC;background:#FFF;box-shadow:0 1px 3px #ccc}
.section{padding:0 0 20px;margin:0 0 20px;border-bottom:1px solid #eee}
.lastSection{border:none;margin-bottom:0}
.noBorder{border-width:0}
.intro p{color:#666}
.normalTitle2{border-bottom:1px solid #d7dde6;padding:10px 20px;background:#f4f5f9}
.normalContent{background:#fff;padding:40px}
.green,.red{background-color:transparent;border:0}
.red{color:red}
.green{color:#090}
.panelTitle{padding:20px 40px;text-shadow:0 1px 1px #FFF}
.panelContent{padding:0 40px 80px}
.loginPanel{margin:0 200px}
.innerPanel{background:#FFF;border-radius:2px;box-shadow:0 1px 3px #CCC}
.innerPanel .title{border-bottom:1px solid #EEE;margin:0 20px;padding:20px 0 10px}
.innerPanel .title h3{color:#333;font-size:18px;font-weight:700}
.innerPanel .title p{color:#999;font-size:14px;margin:0}
.innerPanel .content{padding:10px 20px 20px}
.sideBar .catalogList ul li .test{position:absolute;top:4px;right:0;width:33px;height:18px;z-index:10;background:url(../images/icon_test.png) no-repeat;display:block;border:0}
.column label{display:block;font-size:16px;padding:5px 0}
.text{border:1px solid #CCC;border-radius:2px}
.login_box_msg{color:red;padding:10px 20px 0}
.textMiddle{font-size:14px;padding:8px 10px}
.form .desc{color:#999;display:block;font-size:14px;font-weight:700}
.form .column{margin:10px 0}
.form .inputQ{width:400px}
.form input.inputQ[type=checkbox]{width:20px}
.loginPanel .inputQ{display:block;width:376px}
.innerPanel .operator{background:#F0F1F2;border-radius:0 0 2px 2px;border-top:1px solid #D7DDE6;padding:10px 20px}
.cancel_btn_wrapper,.login_btn_wrapper{-moz-border-bottom-colors:none;-moz-border-image:none;-moz-border-left-colors:none;-moz-border-right-colors:none;-moz-border-top-colors:none;-moz-transition:box-shadow .1s linear 0s;background:#67A00D;background-image:-webkit-gradient(linear,0 0,0 100%,from(#ADD35E),to(#377100),color-stop(.3,#88BE18),color-stop(.6,#71A911),color-stop(.95,#67A10E));background-image:-moz-linear-gradient(0 0 90deg,#add35e 5%,#88be18 20%,#71a911 40%,#67a10e 100%);border-color:#6B9F11 #54850A #386601;border-radius:3px;border-style:solid;border-width:1px;height:30px;width:90px;display:inline-block}
.login_btn_wrapper:hover{text-decoration:none}
.cancel_btn,.login_btn{background:none;color:#FFF;cursor:pointer;float:right;font-size:16px;height:30px;line-height:25px;text-align:center;width:100%}
.lineright{padding:10px 20px}
.minorLink{float:right;line-height:32px;margin-left:20px}
.faq dd,.faq dt{line-height:1.6em}
.accountInfo .avatar,.accountInfo .info,.appTitle h2,.contect_us,.sideBar{float:left}
.footer{text-align:center;padding:20px 50px}
.footer .navigator{display:block}
.footer .navigator li{display:inline;margin:0 10px;list-style-type:none}
.footer .navigator a{text-decoration:none}
.footer .navigator a:active,.footer .navigator a:hover{border-bottom:1px dashed #a3a4a5;text-decoration:none}
.footer .copyright{font-size:12px}
.textGray{color:#999}
.contect_us{background:url(../images/img/appinfo_icons.png) -64px -28px no-repeat;display:block;height:30px;width:30px}
.collapsible{background:#FFF;padding:20px}
.CollapsiblePanel{margin-bottom:10px;width:870px}
.CollapsiblePanelTab{background:url(../images/img/arrow_unclick.png) 820px 20px no-repeat #FFF;border:1px solid #DEDEDE;border-radius:3px;color:#626B8A;cursor:pointer;font-size:18px;padding:20px 40px 20px 20px;text-shadow:0 1px 0 #fff}
.CollapsiblePanelTab.hover{background:url(../images/img/arrow_unclick.png) 820px 20px no-repeat #D7DDE6;border:1px solid #C1C9D4}
.CollapsiblePanelTab.clicked{background:url(../images/img/arrow_click.png) 820px 20px no-repeat #D7DDE6;border:1px solid #C1C9D4}
.CollapsiblePanelContent{display:none;overflow:hidden}
.CollapsiblePanelContent .normalContent{padding:20px 20px 0}
.FAQ{color:#AAA;font-size:12px;padding:0 10px}
.faq li{margin-bottom:25px}
.faq dt{color:#636B89;font-size:16px;margin-bottom:5px}
.faq dd{color:#777;font-size:14px}
.pt,.px{padding:5px}
.normalTitle h2,.panelTitle h2,.processTitle h2{font-size:20px;font-weight:700}
.accountInfo{margin:0}
.processContent{background:#FFF;padding:20px 40px}
.sectionDesc:before{background:url(../images/img/appinfo_icons.png) -32px -32px no-repeat;content:",";display:block;height:24px;left:10px;position:absolute;text-indent:-9999px;top:-7px;width:24px}
.sectionDesc{background:#F0F4F5;border-radius:5px;display:block;margin-top:10px;padding:10px 20px;position:relative;width:400px;color:#AAA;margin-bottom:20px}
.processOperator{border-radius:0 0 8px 8px;border-top:1px solid #D7DDE6}
.processOperator .operator{background:#F5F6F7;border-radius:0 0 8px 8px;border-top:1px solid #FFF;padding:15px 40px}
.tableContent{padding:0}
.accountInfo .avatar{margin-right:20px}
.accountInfo .avatar img{height:40px;width:40px}
.sideBar{border-right:1px solid #D3D3D3;padding:0 0 10px;width:175px}
.submenu a,.submenu a:link{font-size:16px;color:#000}
.sideBar .catalogList ul .nav-header{border-top:1px solid #E8E8E8;float:left;font-size:14px;padding:8px 0 8px 10px;position:relative;width:165px;color:#505050}
.sideBar .catalogList ul .nav-header span{color:red;font-size:12px;margin-left:5px}
.sideBar .catalogList ul .nav-header .store,.sideBar .catalogList ul .nav-header b{overflow:hidden;display:block;float:left;height:14px;width:14px;margin:4px 10px 0 0}
.sideBar .catalogList ul .nav-header .store{background:url(/tpl/static/newskin/images/store.png)}
.sideBar .catalogList ul .nav-header .base{background:url(/tpl/static/newskin/images/base.png)}
.sideBar .catalogList ul .nav-header .site{background:url(/tpl/static/newskin/images/site.png)}
.sideBar .catalogList ul .nav-header .active{background:url(/tpl/static/newskin/images/active.png)}
.sideBar .catalogList ul .nav-header .business{background:url(/tpl/static/newskin/images/business.png)}
.sideBar .catalogList ul .nav-header .card{background:url(/tpl/static/newskin/images/card.png)!important}
.sideBar .catalogList ul .nav-header .crm{background:url(/tpl/static/newskin/images/crm.png)}
.sideBar .catalogList ul .nav-header .datacube{background:url(/tpl/static/newskin/images/datacube.png)}
.sideBar .catalogList ul .nav-header .ditch{background:url(/tpl/static/newskin/images/ditch.png)}
.sideBar .catalogList ul .nav-header .hardware{background:url(/tpl/static/newskin/images/hardware.png)}
.sideBar .catalogList ul .nav-header .interact{background:url(/tpl/static/newskin/images/interact.png)}
.sideBar .catalogList ul .nav-header .scene{background:url(/tpl/static/newskin/images/scene.png)}
.sideBar .catalogList ul .nav-header .secondary{background:url(/tpl/static/newskin/images/secondary.png)}
.sideBar .catalogList ul .nav-header .service{background:url(/tpl/static/newskin/images/service.png)}
.sideBar .catalogList ul .nav-header .game{background:url(/tpl/static/newskin/images/game.png)}
.sideBar .catalogList ul .nav-header .zhida{background:url(/tpl/static/newskin/images/zhida.png)}
.sideBar .catalogList ul .notopborder{border-top:0}
.sideBar .catalogList ul li{float:left;position:relative;width:100%;background-color:#fff;text-align:left;text-indent:28px}
.sideBar .catalogList ul li .new{position:absolute;top:8px;right:0;width:23px;height:11px;z-index:10;background:url(../images/img/icon_new.gif) no-repeat;display:block;border:0}
.cLineB,.cLineC{border-bottom:1px solid #EEE}
.sideBar .catalogList ul .selected,.sideBar .catalogList ul li:hover{background-color:#A2A2A2}
*zoom:1 .cLine:after,*zoom:1 .cLineB:after{clear:both;content:"";visibility:hidden;display:block;height:0}
.sideBar .catalogList ul li a,.sideBar .catalogList ul li span,.submenu a{display:block;padding:5px;color:#000;line-height:21px;font-size:12px}
.sideBar .catalogList ul li:hover a,.sideBar .catalogList ul li:hover span{color:#fff}
.sideBar .catalogList ul .selected,.sideBar .catalogList ul .subCatalogList{padding-left:0}
.sideBar .catalogList ul .selected a,.sideBar .catalogList ul .selected span{color:#FFF}
.tableContent .content{border-left:1px solid #D3D3D3;float:right;margin-left:-2px;padding:20px;width:992px;background-color:#FFF;min-height:925px}
.tableContent .content h4{font-size:16px}
.cLine{overflow:hidden;padding:5px 0;color:#000;clear:both}
.cLineB{overflow:hidden;padding:8px 0}
.cLineC,.cLineD{overflow:hidden;padding:12px 0 7px}
.left{float:left}
.right{float:right}
.c-gA{color:#AAA}
.f14{font-size:14px}
.uploadArea{overflow:hidden;position:relative}
.searchbar .txt{border:1px solid #AAA;color:#AAA;margin-right:5px;padding:3px;border-radius:2px}
.ps,.pt,.px,select{background:url(../images/img/px.png) repeat-x #FFF;border-color:#848484 #E0E0E0 #E0E0E0 #848484;border-style:solid;border-width:1px;border-radius:2px;height:30px}
.btnDisable,.btnDisable:hover,.btnDisableS,.btnDisableS:hover{color:#aaa;background:0}
.btnDisable{-moz-box-shadow:0 1px 1px #aaa;-webkit-box-shadow:0 1px 1px #aaa;padding:5px 20px;-moz-border-radius:3px;-webkit-border-radius:3px;cursor:not-allowed;border:1px solid #AAA}
.btnDisable,.btnDisableS{display:inline-block;text-align:center;vertical-align:bottom;overflow:visible;border-radius:3px;box-shadow:0 1px 1px #aaa}
.btnDisableS{-moz-box-shadow:0 1px 1px #aaa;-webkit-box-shadow:0 1px 1px #aaa;-moz-border-radius:3px;-webkit-border-radius:3px;cursor:not-allowed;border:1px solid #AAA;padding:2px 5px}
.biaoqing,.biaoqing span,.biaoqing:hover ul{display:block}
.redamount{color:red;font-size:16px;margin-right:3px}
.pageNavigator{padding:5px 0}
.pageNavigator .pageIdxInput{border:1px solid #AAA;color:#AAA;margin-right:3px;padding:3px;width:20px}
.listTitle{border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;overflow:hidden;padding:2px 20px;border:1px solid #d3d3d3;background-color:#f1f1f1}
.listTitle:after{clear:both;content:"";display:block;height:0;visibility:hidden}
TABLE.ListProduct{BORDER-TOP:#d3d3d3 1px solid;MARGIN-TOP:5px;WIDTH:100%;MARGIN-BOTTOM:5px}
TABLE.ListProduct THEAD TH{BORDER-BOTTOM:#E7E9F3 1px solid;PADDING-BOTTOM:5px;BACKGROUND-COLOR:#F4F5F9;PADDING-LEFT:5px;PADDING-RIGHT:5px;COLOR:#666;FONT-SIZE:14px;BORDER-TOP:#e3e3e3 1px solid;FONT-WEIGHT:normal;BORDER-RIGHT:#ddd 1px solid;PADDING-TOP:5px;color:#222;font-weight:700}
TABLE.ListProduct TBODY TD,TABLE.ListProduct Tfoot TD{BORDER-BOTTOM:#eee 1px solid;PADDING-BOTTOM:10px;PADDING-LEFT:5px;PADDING-RIGHT:5px;BORDER-RIGHT:#eee 1px solid;PADDING-TOP:10px;font-size:12px;word-break:break-all}
TABLE.ListProduct TBODY TR:nth-child(2n+1){background-color:#FCFCFC}
TABLE.ListProduct TBODY TR:hover{background-color:#F1FCEA}
TABLE.ListProduct TBODY TD p{PADDING:0;font-size:12px;word-break:break-all}
TABLE.ListProduct Tfoot TD{background-color:#f9f9f9}
TABLE.ListProduct TBODY TD.norightborder,TABLE.ListProduct THEAD TH.norightborder{BORDER-RIGHT:0}
TABLE.ListProduct .select{width:30px}
TABLE.ListProduct .keywords{width:150px}
TABLE.ListProduct .answer{width:375px}
TABLE.ListProduct .answer_text{width:360px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;height:16px}
.answer_text img{margin-right:5px;float:left}
TABLE.ListProduct .category,TABLE.ListProduct .time{width:70px}
TABLE.ListProduct .edit{width:120px}
.bgfc{background-color:#fcfcfc;padding:20px;border:1px solid #EEE;border-top:0;margin-bottom:20px}
.userinfoArea{margin:20px 0}
.userinfoArea th{text-align:left;width:145px;font-size:14px;font-weight:700;line-height:1.5;padding:8px 0}
.userinfoArea td{margin-left:10px;padding:8px 0;color:#666;font-size:12px}
.selectPlugin{margin:0 5px 0 0;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;background-color:#f9f9f9;background-image:linear-gradient(bottom,#f0f0f0 3%,#f9f9f9 97%,#fff 100%);background-image:-moz-linear-gradient(bottom,#f0f0f0 3%,#f9f9f9 97%,#fff 100%);background-image:-webkit-linear-gradient(bottom,#f0f0f0 3%,#f9f9f9 97%,#fff 100%);padding:5px;border:1px solid #d3d3d3}
.zdhuifu{margin:5px 0;padding-bottom:15px}
.biaoqing{position:relative;height:25px;width:60px;background:url(../images/img/biaoqing.png) left center no-repeat}
.biaoqing span{line-height:25px;text-indent:20px;cursor:pointer}
.biaoqing ul{display:none;background-color:#FFF;border:1px solid #CCC;box-shadow:0 1px 3px #ccc;left:-50px;padding:5px;position:absolute;top:-220px;width:450px}
.biaoqing ul li{border:1px solid #dfe6f6;height:24px;width:24px;display:block;padding:2px;float:left;cursor:pointer}
.biaoqing ul li:hover{border:1px solid #369}
.changeapp li,.changeapp2 li{float:left;width:216px;padding:5px 10px;display:block;background-color:#fff;border:1px solid #eee;position:relative}
.changeapp{margin:5px 10px 10px}
.changeapp li{margin:0 5px 5px 0;height:20px}
.changeapp2{margin:5px 10px 10px}
.changeapp2 li{margin:0 5px 5px 0;height:70px}
.changeapp li div,.changeapp li:hover,.changeapp2 li:hover{background-color:#F0FFDC;border:1px solid #64C269}
.changeapp li label{display:block;cursor:pointer}
.changeapp li div{display:none;position:absolute;top:30px;left:-1px;z-index:999;width:216px;padding:5px 10px;border-top:0}
.btn_download,.cateimg:hover .cateimg_big,.changeapp li:hover div,.deltw,.propaganda{display:block}
.bigbtn{height:30px;line-height:28px}
.bigbtn img{margin-right:5px}
#nv_member{background:url(../images/img/bg_home.png) #ebedf0}
.homebg{background:url(../images/img/bg_home1.png) repeat-x}
.homebg2{background:url(../images/img/bg_home2.jpg) center 0 no-repeat}
#nv_member #hd .wp{width:960px;margin:0 auto}
#nv_member .wp{width:100%}
#nv_member #ft{margin:0 auto;width:1210px;border:0}
.propaganda{margin:0 auto;position:relative;width:960px;height:175px}
.btn_download{background:url(../images/img/download.png) no-repeat;height:54px;margin-left:-5px;text-indent:-9999px;width:234px}
.deltw,.usercontent .goldwinning{overflow:hidden;text-indent:-999px}
.btn_download:hover{background:url(../images/img/download_01.png) no-repeat}
.btn_download:active{background:url(../images/img/download_02.png) no-repeat}
#mediaplayer_wrapper{position:relative;width:960px}
#mediaplayer{color:#FFF;height:275px;position:absolute;right:188px;top:-303px;width:188px}
.ewm{left:30px;position:absolute;top:20px}
.font_ewm,.font_gn{color:#636B89;font-size:16px;line-height:29px;position:absolute;top:30px}
.font_ewm{left:172px}
.font_gn{left:510px;width:420px}
.vote li{border:1px solid #ccc;width:580px;padding:2px 0 2px 10px;margin-bottom:3px;border-radius:2px}
.cateradio,.cateradio2,.cateradio3{padding-top:20px}
.vote li:hover{background-color:#F0FFDC;border:1px solid #64C269}
.vote li:hover span p{color:#090}
.vote li span p{float:left;width:555px;overflow:hidden}
.vote li span a{flaot:right}
.deltw{background:url(../images/img/xx.gif) no-repeat;width:20px;height:20px}
.deltw:hover{background:url(../images/img/xx_hover.gif) no-repeat}
.board{background:url(../images/img/bg_repno.gif) no-repeat;padding-left:55px}
.cateimg{position:relative;float:left}
.cateimg .cateimg_small{width:50px}
.cateimg .cateimg_big{position:absolute;left:51px;top:0;display:none;width:320px}
.cateradio li,.cateradio2 li,.cateradio3 li{float:left;text-align:center;margin:0 0 20px 20px;width:170px;height:383px}
.cateradio li{background:url(../images/img/radio_iphone0.png) center top no-repeat}
.cateradio li.active,.cateradio li:active,.cateradio li:hover{background:url(../images/img/radio_iphone.png) center top no-repeat}
.cateradio2 li{background:url(../images/img/radio_iphone0.png) center top no-repeat}
.cateradio2 li.active,.cateradio2 li:active,.cateradio2 li:hover{background:url(../images/img/radio_iphone.png) center top no-repeat}
.cateradio3 li{background:url(../images/img/radio_iphone0.png) center top no-repeat}
.cateradio3 li.active,.cateradio3 li:active,.cateradio3 li:hover{background:url(../images/img/radio_iphone.png) center top no-repeat}
table.ListProduct8 td.checked,table.ListProduct8 td.error{background-repeat:no-repeat;background-position:center center}
.msgWrap fieldset{background-color:#f8f8f8;margin-top:10px;border-radius:0 5px 5px;-webkit-border-radius:0 5px 5px;-moz-border-radius:0 5px 5px}
.msgWrap fieldset label img{margin-bottom:10px}
.msgWrap fieldset legend{background-color:#f8f8f8;color:#C18E06;display:block;font-size:14px;margin:0 0 0 -1px;padding:10px 20px 10px 10px;border-radius:5px 5px 0 0;-webkit-border-radius:5px 5px 0 0;-moz-border-radius:5px 5px 0 0}
.tagContent fieldset{margin-top:0;background-color:#EEE}
#tags{MARGIN:15px 0 0 0;WIDTH:990px;PADDING-TOP:0;HEIGHT:40px}
#tags LI{BACKGROUND:url(../images/img/tagleft.gif) no-repeat left bottom;FLOAT:left;MARGIN-RIGHT:3px;LIST-STYLE-TYPE:none;HEIGHT:40px}
#tags LI A{PADDING:0 20px;BACKGROUND:url(../images/img/tagright.gif) no-repeat right bottom;FLOAT:left;COLOR:#999;LINE-HEIGHT:40px;HEIGHT:40px;TEXT-DECORATION:none;font-size:16px}
#tags LI.emptyTag{BACKGROUND:none transparent scroll repeat 0 0;WIDTH:4px}
#tags LI.selectTag{BACKGROUND-POSITION:left top;MARGIN-BOTTOM:-2px;POSITION:relative;HEIGHT:40px}
#tags LI.selectTag A{BACKGROUND-POSITION:right top;COLOR:#000;LINE-HEIGHT:40px;HEIGHT:40px}
#tagContent{display:block}
.tagContent{DISPLAY:none}
#tagContent DIV.selectTag{DISPLAY:block}
.cateradio4{padding:20px}
.cateradio4 h3{font-size:16px;color:#333}
.samsung-render{width:368px;height:480px;padding-left:25px}
.cateradio4 li{background-color:#F5F5F5;font-size:14px;margin:5px 0}
.cateradio4 li label{display:block;font-size:12px;padding:10px}
.zujianContent{padding:40px}
.zujianContent h3{font-size:16px;color:#333}
.zujianContent li{background-color:#F5F5F5;float:left;font-size:14px;line-height:26px;margin:10px 10px 10px 0;width:260px;-moz-border-radius:6px;-webkit-border-radius:6px;border-radius:6px}
.zujianContent li label{font-size:12px;padding:20px 10px 20px 20px;display:block}
TABLE.ListProduct8{BORDER-TOP:#d3d3d3 0 solid;WIDTH:100%;border-collapse:collapse}
TABLE.ListProduct8 THEAD TH{BORDER-BOTTOM:#4DA94C 3px solid;COLOR:#666;FONT-SIZE:14px;BORDER-TOP:#fff 1px solid;BORDER-RIGHT:#B4DEBB 1px solid;text-align:center;padding:10px 0;margin:0;color:#666;font-weight:400;background-color:#F2FCE6}
TABLE.ListProduct8 TBODY TD{BORDER-BOTTOM:#eee 1px solid;BORDER-RIGHT:#ddd 1px solid;font-size:12px;padding:2px;color:#666;text-align:center}
TABLE.ListProduct8 TBODY TD.norightborder,TABLE.ListProduct8 THEAD TH.norightborder{BORDER-RIGHT:0}
TABLE.ListProduct8 td.lefttitle,TABLE.ListProduct8 th.lefttitle{border-left:0 none;text-align:left!important;vertical-align:middle;color:#333}
TABLE.ListProduct8 th.lefttitle{BORDER-BOTTOM:#4DA94C 3px solid;text-align:left!important;vertical-align:middle;color:#333;padding:10px 0;background-color:#FFF;background-image:none}
TABLE.ListProduct8 td .price{color:#52a405;font:400 30px Georgia,Microsoft YaHei,Times,serif;letter-spacing:-2px}
TABLE.ListProduct8 td .price p{font-size:14px;margin:0;padding:0}
table.ListProduct8 td.checked{background-image:url(../images/img/checkbox.gif)}
table.ListProduct8 td.error{background-image:url(../images/img/error.gif)}
table.ListProduct8 TBODY TR:nth-child(2n+1){background-color:#f8f8f8}
table.ListProduct8 TBODY TR:hover{background-color:#F1FCEA}
.vipuser{width:300px;overflow:hidden;float:left}
.vipuser .logo,.vipuser .logo img{height:42px;width:42px}
.vipuser .logo{overflow:hidden;position:relative;display:inline;float:left;margin:3px 10px 5px 0}
.vipimg,.vipimgbig{position:relative;display:inline-block;height:14px;margin:0 0 0 6px;top:2px}
.vipuser #nickname{font-size:16px;text-overflow:ellipsis;white-space:nowrap!important;white-space:normal;overflow:hidden}
.vipimg{background:url(../images/img/vip.png) no-repeat;width:14px}
.vip-icon{background-position:0 0}
.vip-icon0{background-position:0 -14px}
.vip-icon1{background-position:0 -28px}
.vip-icon2{background-position:0 -42px}
.vip-icon3{background-position:0 -56px}
.vip-icon4{background-position:0 -70px}
.vip-icon5{background-position:0 -84px}
.vip-icon6{background-position:0 -98px}
.vipimgbig{background:url(../images/img/vip.png) no-repeat;width:38px}
.vip-iconbig{background-position:0 0}
.vip-iconbig0{background-position:-14px -14px}
.vip-iconbig1{background-position:-14px -28px}
.vip-iconbig2{background-position:-14px -42px}
.vip-iconbig3{background-position:-14px -56px}
.vip-iconbig4{background-position:-14px -70px}
.vip-iconbig5{background-position:-14px -84px}
.vip-iconbig6{background-position:-14px -98px}
.accountInfo{margin-left:300px;float:none;margin-top:3px}
.vipInfo{font-size:12px}
.vipInfo td{border-left:1px solid #DDD;padding:2px 25px}
.usercontent ul li{border:1px solid #DDD;float:left;line-height:22px;background-color:#FFF}
.usercontent ul li a{height:96px;font-size:14px;color:#FFF;display:block;overflow:hidden}
.usercontent ul li:hover{border:1px solid #cbcbcb;background:#fefefe;background-size:100%;background-image:-webkit-gradient(linear,50% 0,50% 100%,color-stop(0,#fff),color-stop(100%,#e7e7e7));background-image:-webkit-linear-gradient(top,#fff,#e7e7e7);background-image:-moz-linear-gradient(top,#fff,#e7e7e7);background-image:-o-linear-gradient(top,#fff,#e7e7e7);background-image:linear-gradient(top,#fff,#e7e7e7);-webkit-box-shadow:0 0 5px 1px rgba(0,0,0,.1);-moz-box-shadow:0 0 5px 1px rgba(0,0,0,.1);box-shadow:0 0 5px 1px rgba(0,0,0,.1);-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px}
.usercontent ul li:active{border:1px solid #cbcbcb;background:#fefefe;-webkit-box-shadow:0 0 5px 1px rgba(0,0,0,.1) inset;-moz-box-shadow:0 0 5px 1px rgba(0,0,0,.1) inset;box-shadow:0 0 5px 1px rgba(0,0,0,.1) inset;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px}
.usercontent ul li.addli{cursor:pointer;background:#fefefe;background-size:100%;background-image:-webkit-gradient(linear,50% 0,50% 100%,color-stop(0,#fff),color-stop(100%,#e7e7e7));background-image:-webkit-linear-gradient(top,#fff,#e7e7e7);background-image:-moz-linear-gradient(top,#fff,#e7e7e7);background-image:-o-linear-gradient(top,#fff,#e7e7e7);background-image:linear-gradient(top,#fff,#e7e7e7);-webkit-box-shadow:0 0 0 1px rgba(255,255,255,.5) inset;-moz-box-shadow:0 0 0 1px rgba(255,255,255,.5) inset;box-shadow:0 0 0 1px rgba(255,255,255,.5) inset;margin-bottom:15px}
.usercontent ul li.addli:hover{border:1px solid #cbcbcb;background:#fefefe;background-size:100%;background-image:-webkit-gradient(linear,50% 0,50% 100%,color-stop(0,#fff),color-stop(100%,#eee));background-image:-webkit-linear-gradient(top,#fff,#eee);background-image:-moz-linear-gradient(top,#fff,#eee);background-image:-o-linear-gradient(top,#fff,#eee);background-image:linear-gradient(top,#fff,#eee);-webkit-box-shadow:0 0 5px 1px rgba(0,0,0,.1);-moz-box-shadow:0 0 5px 1px rgba(0,0,0,.1);box-shadow:0 0 5px 1px rgba(0,0,0,.1);-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px}
.usercontent ul li.addli:active{border:1px solid #cbcbcb;background:#fefefe;-webkit-box-shadow:0 0 5px 1px rgba(0,0,0,.1) inset;-moz-box-shadow:0 0 5px 1px rgba(0,0,0,.1) inset;box-shadow:0 0 5px 1px rgba(0,0,0,.1) inset;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px}
.usercontent .gold{background:url(/tpl/static/newskin/images/ico_b01.png) 35px 27px no-repeat #7cbae5;padding-top:28px;height:68px}
.usercontent .gold p{margin-left:80px}
.usercontent .goldwinning{background:url(../images/img/goldwinning.png) 8px center no-repeat;width:162px;height:45px;padding:10px;display:block}
.usercontent .goldbuy{background:url(/tpl/static/newskin/images/ico_b03.png) 36px 33px no-repeat #66d2c6;font-size:18px;line-height:100px;text-indent:80px}
.usercontent .qqqun{background:url(/tpl/static/newskin/images/ico_b04.png) 36px 33px no-repeat #60d295;height:96px;color:#FFF;overflow:hidden;cursor:pointer;font-size:14px}
.usercontent .qqqun .qt{text-indent:55px;font-size:20px;padding:28px 0 0 22px}
.usercontent .qqqun .qt2{text-indent:55px;font-size:14px;padding-left:22px}
.usercontent .addwx{background:url(/tpl/static/newskin/images/ico_b02.png) 33px 32px no-repeat #79cbe5;line-height:100px;text-indent:80px;font-size:18px}
.usercontent .addwx div{margin:26px 0 0 3px}
.usercontent .addwxinfo{padding-top:15px;float:left}
.tooltips{position:relative;z-index:2}
.tooltips:hover{z-index:3;background:0 0}
.tooltips span{display:none}
.tooltips span p{margin:0;padding:0}
.tooltips:hover span{display:block;position:absolute;top:35px;left:5px;width:360px;border:1px solid #CCC;background-color:#fff;box-shadow:0 1px 3px rgba(0,0,0,.5);border-radius:6px;padding:10px;font-size:12px;line-height:22px;color:#333}
.tooltips:hover span:after,.tooltips:hover span:before{content:"";width:0;height:0;position:absolute;bottom:100%;border-style:solid}
.tooltips:hover span:before{left:4px;border-width:0 8px 8px;border-color:rgba(0,0,0,.1) transparent}
.tooltips:hover span:after{left:6px;border-width:0 6px 6px;border-color:rgba(255,255,255,1) transparent}
.pages{padding:3px;margin:3px;text-align:center}
.pages .current,.pages .disabled,.pages a{padding:2px 5px;margin:2px}
.pages a{border:1px solid #eee;color:#036cb4;text-decoration:none}
.pages a:active,.pages a:hover{border:1px solid #999;color:#666}
.pages .current{border:1px solid #036cb4;font-weight:700;color:#fff;background-color:#036cb4}
.pages .disabled{border:1px solid #eee;color:#ddd}
.vm01,.vm02,.vm03{width:297px;height:115px;float:left;margin-right:1px;color:#FFF}
.vm01 a,.vm02 a{width:197px;height:115px;display:block;color:#FFF;font-size:20px;padding-left:100px;line-height:115px}
.vm01{background:url(/tpl/static/newskin/images/btn_font.gif) 30px 30px no-repeat #87cdf0}
.vm02{background:url(/tpl/static/newskin/images/btn_pic.gif) 30px 30px no-repeat #cec0f4}
.vm03{background:url(/tpl/static/newskin/images/btn_sear.gif) no-repeat}
.vm03 input{border:none;border-radius:0;height:30px;margin:38px 0 0 30px;font-size:14px;width:215px}
.vm03 button{width:35px;height:40px;background:0 0;cursor:pointer}
.catalogList{background:#fff}
#sideBar{width:174px!important}
.tableContent .content ul li.fangke,.tableContent .content ul li.guanzhu,.tableContent .content ul li.huiyuanka,.tableContent .content ul li.liulan{overflow:hidden;float:left;height:96px;margin-right:1px;width:245px}
ul#menu li.selected a{background:#44b549!important;color:#fff!important;border-left:5px solid #44b549!important}
.tableContent .content ul li.guanzhu{color:#fff;background:#7cbae5}
.tableContent .content ul li.huiyuanka{color:#fff;background:#cec0f4}
.tableContent .content ul li.liulan{color:#fff;background:#81d2cf}
.tableContent .content ul li.fangke{color:#fff;background:#92bf77}
.tableContent .content ol li{float:left;height:120px;overflow:hidden;width:120px;padding:0 15px}
.tableContent .content ul li.fangke a,.tableContent .content ul li.guanzhu a,.tableContent .content ul li.huiyuanka a,.tableContent .content ul li.liulan a{color:#fff;display:block;font-size:22px;height:96px;overflow:hidden;width:224px;padding-top:10px;text-align:center}
.btnGray,.btnGrayS,.newskin li.subCatalogList a{font-size:14px!important}
.tableContent .content ul li a:hover{text-decoration:none}
ul#menu li a{background:#fff!important;color:#929396!important}
ul#menu li a:hover{background:#44b549!important;color:#fff!important}
.normalTitle{border-bottom:1px solid #B2B7BE;background:url(/tpl/static/newskin/images/btn_tit.gif) 18px 21px no-repeat #f4f5f9;padding:20px 0 20px 75px;color:#44b549}
.newskin li.subCatalogList a{height:14px;padding:0!important;color:#3b3b3b!important;margin-top:13px;line-height:1em!important}
.newskin li.subCatalogList{height:40px;line-height:40px!important;text-indent:48px!important}
.newskin li.subCatalogList:hover{border-right:3px solid #44b549!important;background-color:#FAF8F8!important;color:#333!important}
.newskin li.subCatalogList .secnav_1{background:url(/tpl/static/newskin/images/btnlist_01.gif) 25px 0 no-repeat}
.newskin li.subCatalogList .secnav_2{background:url(/tpl/static/newskin/images/btnlist_01.gif) 25px -14px no-repeat}
.newskin li.subCatalogList .secnav_3{background:url(/tpl/static/newskin/images/btnlist_01.gif) 25px -28px no-repeat}
.newskin li.subCatalogList .secnav_4{background:url(/tpl/static/newskin/images/btnlist_01.gif) 25px -42px no-repeat}
.newskin li.subCatalogList .secnav_5{background:url(/tpl/static/newskin/images/btnlist_01.gif) 25px -56px no-repeat}
.newskin li.subCatalogList .secnav_6{background:url(/tpl/static/newskin/images/btnlist_01.gif) 25px -70px no-repeat}
.newskin li.subCatalogList .secnav_7{background:url(/tpl/static/newskin/images/btnlist_01.gif) 25px -84px no-repeat}
.newskin li.subCatalogList .secnav_8{background:url(/tpl/static/newskin/images/btnlist_01.gif) 25px -98px no-repeat}
.newskin li.subCatalogList .secnav_9{background:url(/tpl/static/newskin/images/btnlist_01.gif) 25px -112px no-repeat}
.a_choose:hover,.a_upload:hover,.btnGrayS:hover,.btnGreen:hover,.btnGreens:hover{background-color:#5ba607!important;color:#fff!important;text-decoration:none;text-shadow:none}
.a_choose,.a_upload,.btnGrayS,.btnGreen,.btnGreens{background-image:none!important;border:none!important;text-shadow:none!important;margin-left:5px;padding:2px 8px!important;cursor:pointer!important;display:inline-block!important;overflow:visible!important;border-radius:2px!important;-moz-border-radius:2px!important;-webkit-border-radius:2px!important;background-color:#44b549!important;color:#fff!important;font-size:14px!important}
.btnGrayS:hover{background-color:#E6E7EC!important;color:#222!important;text-decoration:none;text-shadow:none}
.ListProduct td.norightborder a,.btnGrayS{text-shadow:none!important;cursor:pointer!important;display:inline-block!important;overflow:visible!important}
.btnGrayS{background-image:none!important;border:1px solid #E6E7EC!important;padding:4px 12px!important;border-radius:4px!important;-moz-border-radius:4px!important;-webkit-border-radius:4px!important;background-color:#F4F5F9!important;color:#222!important}
.btnGray,.btnGray:hover{color:#050505!important}
.btnGray:hover{background-color:#B6B8B4!important;text-decoration:none}
.btnGray{padding:2px 8px!important;cursor:pointer!important;display:inline-block!important;overflow:visible!important;border-radius:2px!important;-moz-border-radius:2px!important;-webkit-border-radius:2px!important;background-color:#D5D5D5!important;line-height:1.5!important}
.navHover{background-color:#EDEDED!important}
ul#menu li.selected a{text-indent:28px;padding-left:0!important}
.usercontent ul li{width:195px}
.usercontent .addbiz{background:url(/tpl/static/newskin/images/biz.png) 33px 32px no-repeat #4cc15d;}
.tableContent{background:#fff!important;}
.pageNavigator a:hover{text-decoration:none;}
.ListProduct td.norightborder a{margin-bottom:5px;margin-left:3px;padding:4px 12px!important;border:1px solid #E6E7EC!important;-webkit-border-radius:4px!important;-moz-border-radius:4px!important;border-radius:4px!important;background-color:#F4F5F9!important;background-image:none!important;color:#222!important;font-size:14px!important;}
.ListProduct td.norightborder a:hover{background-color:#E6E7EC!important;color:#222!important;text-decoration:none;text-shadow:none;}
